@import url(fonts.css);
@import url(material-icons.css);
@import url(mobile.css);
@import url(materialize.css);
@import url(sweetalert2.css);

body {
    display: flex;
    min-height: 100vh;
    color: rgb(150, 150, 150);
    flex-direction: column;
    background: url(../img/layout/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    font-size: 18px;
    color: rgb(150, 150, 150);
}

.top {
    background: transparent;
    width: 100%;
    height: 300px;
    border: 3px solid rgb(48, 8, 8);
    border-radius: 10px;
    margin-top: 5px;
}

.top img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    margin: 0;
    border-radius: 10px;
}

.content {
    border-radius: 10px;
    background-color: black;
    color: rgb(150, 150, 150);
    height: auto;
    width: 100%;
    border: 3px solid rgb(48, 8, 8);
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
    display: inline-block;
}

.container a {
    color: orange;
    text-decoration: underline;
}

.container a:hover {
    color: orange;
    text-decoration: none;
}

footer {
    background-color: rgb(48, 8, 8) !important;
}

.col-p {
    width: 100%;
    background-color: rgb(48, 8, 8);
    border-radius: 10px;
    padding: 1%;
}

.h3-p {
    font-family: Naruto;
    color: orange;
}

.table-striped > thead > tr:nth-child(even) > th,
.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: rgb(21, 20, 20);
}

.col-align-center {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1px !important;
}

.col-padding {
    padding: 4% !important;
}


ul span {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: rgb(150, 150, 150);
    display: block;
    padding: 0 15px;
}

ul span img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.col-padding-img {
    padding-top: 25px;
}

.no-margin-top {
    margin-top: 0 !important;
}

.table-black > thead > tr > th,
.table-black > tbody > tr > td {
    background-color: rgb(21, 20, 20);
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}

.f-40 {
    font-size: 40px;
}

.sidenav li > span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.log {
    background-color: rgb(48, 8, 8);
    overflow-y: scroll;
    padding: 10px;
    margin-left: 1%;
    margin-top: 5%;
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(213, 210, 210);
    min-height: 300px;
    max-height: 500px;
}

.log li {
    padding: 5px 10px;
    text-shadow: 2px 2px black;
}

.log-f-server {
    color: rgb(99, 181, 152);
}

.log-f-user {
    color: rgb(234, 158, 112);
}

.log-f-received {
    color: rgb(198, 225, 232);
}

.log-f-inactive {
    color: rgb(100, 129, 119);
}

.log-f-mod {
    color: rgb(164, 228, 63);
}

#test1 input {
    color: white !important;
}

.c-orange {
    color: orange;
}

.c-red {
    color: red;
}

.c-white {
    color: white !important;
}

.icon-shuriken:before {
    background-image: url(../img/icons/shuriken.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    content:"";
}

.menu ul li a {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.menu ul li a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.icon-online:after {
    background-image: url(../img/icons/online.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 5px;
    content:"";
}

.icon-offline:after {
    background-image: url(../img/icons/offline.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 5px;
    content:"";
}

.nav-menu .tooltipped {
    display: inline-block;
}

.nav-menu .tooltipped:after {
    width: 30px;
}

.daily-completed {
    background-color: rgb(72, 41, 10) !important;
}

.nav-chat .tabs {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.nav-chat .tabs a {
    color: white !important;
    text-transform: none !important;
}

h4 img {
    vertical-align: middle;
    width: 40px;
}

.btn-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.c-pointer {
    cursor: pointer;
}

textarea {
    background-color: rgb(48, 8, 8) !important;
    color: rgb(150, 150, 150) !important;
    height: auto;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-warning {
    background-color: #f89406;
}

.logo-translate {
    display: inline-block;
    height: 100%;
}

.logo-translate > img {
    position: absolute;
    height: 100%;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.d-inline {
    display: inline !important;
}